<header>
    <img src="assets/img/sableye.png"
    width="130px"
    height="130px"
    loading="eager" />
    <h1>Sableye</h1>
</header>

<aside>
    <div class="container">
        <p>Born to Stall - Setup is a fuck - Knock Off All - I'm an ELO 1200 man - 312,102,789 Ferrothorns taunted</p>
        <p>Hehehehehehe No Brancells click that Recover brother hehehehehe</p>
    </div>

    <nav>
        <ul>
            <li>
                <a href="https://www.smogon.com/dex/xy/pokemon/sableye/" target="_blank" class="btn btn-primary">
                Linkedin
                </a>
            </li>
            <li>
                <a href="assets/pdf/curriculo.txt" target="_blank" class="btn btn-secondary">
                CV
                </a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg"
            height="24px"
            width="22px">
            <figcaption>
                I'm way to dumb for whatsapp
            </figcaption>
        </figure>
        <figure>
            <img src="assets/icons/mail.svg"
            height="24px"
            width="22px">
            <figcaption>
                <a href="{{ email }}">Mail the GOD HIMSELF</a>
            </figcaption>
        </figure>
    </section>
</aside>